<div class="menu">
    <div class="menu-container">
        <button class="menu-item" mat-fab color="primary" aria-label="Menu icon" routerLink="/">
            <mat-icon>menu</mat-icon>
        </button>
        <button class="menu-item" mat-fab color="primary" aria-label="Home icon" routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
        <button class="menu-item" mat-fab color="primary" aria-label="Camera icon" routerLink="/camera">
            <mat-icon>camera_alt</mat-icon>
        </button>
        <button class="menu-item" mat-fab color="primary" aria-label="Settings icon" routerLink="/">
            <mat-icon>settings</mat-icon>
        </button>
    </div> 
</div>
