<div class="camera-container">
  <div class="qr-selector" [class.qr-selector-error]="error" [class.qr-selector-success]="success"></div>

  <zxing-scanner #scanner *ngIf="start"
    [enable]="start"
    [torch]="flash"
    (torchCompatible)="onTorchCompatible($event)"
    (camerasFound)="camerasFoundHandler($event)"
    (camerasNotFound)="camerasNotFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)"
    (scanError)="scanErrorHandler($event)"
    (scanFailure)="scanFailureHandler($event)"
    (scanComplete)="scanCompleteHandler($event)"
    [formats]="['QR_CODE']">
  </zxing-scanner>

  <div class="actions-container">
    <button class="actions-item" mat-icon-button aria-label="Menu icon" (click)="onClickFlipCamera()">
      <mat-icon>flip_camera_android</mat-icon>
    </button>
    <button class="actions-item" mat-icon-button aria-label="Menu icon" (click)="onClickStartStop()">
        <mat-icon class="icon-big">{{ startButton }}</mat-icon>
    </button>
    <button class="actions-item" mat-icon-button aria-label="Menu icon" (click)="onClickFlash()">
      <mat-icon>{{ flashButton }}</mat-icon>
    </button>
</div> 
</div>
